extends layout

block content
  form(action="/login", method="post")
    div.input
      p Username
      input(type="text", name="username")
    div.input
      p Password
      input(type="password", name="password")
    div.input
      br
      input(type="submit", name="Log In")
